---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%-d. %b. %Y" }} (100 Millionen Jahre und 5 Tage nach dem Urknall) {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  <div class="Liveview">
	  <h4>Die Triops-Cam</h4><object width="480" height="325"><param name="movie" value="https://www.dropcam.com/e/51aebd8f166b49a089ae0b9a06ece159?autoplay=true"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><embed src="https://www.dropcam.com/e/51aebd8f166b49a089ae0b9a06ece159?autoplay=true" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="290" wmode="opaque"></embed></object><figcaption>+++ Stream live aus dem Triops-Aquarium.+++</figcaption><p style="clear:left">
  <article class="post-content">
   
	  {{ content }}
  </article>

</div>
